In [17]:
import numpy as np
import pandas as pd
import seaborn as sns
import statistics as sts

from sklearn.preprocessing import OneHotEncoder

In [18]:
df = pd.read_csv('test.csv')
df.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,41,PR,22,F,3,1,1,5,1,...,40.0,420.0,B,A,C,A,A,C,C,A
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,21,MA,26,F,3,1,1,8,1,...,100.0,580.0,E,B,C,B,B,B,F,A
2,b38a03232f43b11c9d0788abaf060f7366053b6d,23,CE,21,M,1,1,2,0,2,...,80.0,320.0,E,E,D,B,B,A,NaN,A
3,70b682d9a3636be23f6120fa9d6b164eb3c6002d,15,PA,27,F,3,1,1,8,1,...,NaN,NaN,H,E,G,B,B,A,NaN,A
4,715494628a50142ce8cb17191cfe6d0f3cae0934,41,PR,18,M,1,1,2,0,2,...,0.0,320.0,D,H,H,C,B,A,NaN,A

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 47 columns):
NU_INSCRICAO              4576 non-null object
CO_UF_RESIDENCIA          4576 non-null int64
SG_UF_RESIDENCIA          4576 non-null object
NU_IDADE                  4576 non-null int64
TP_SEXO                   4576 non-null object
TP_COR_RACA               4576 non-null int64
TP_NACIONALIDADE          4576 non-null int64
TP_ST_CONCLUSAO           4576 non-null int64
TP_ANO_CONCLUIU           4576 non-null int64
TP_ESCOLA                 4576 non-null int64
TP_ENSINO                 1480 non-null float64
IN_TREINEIRO              4576 non-null int64
TP_DEPENDENCIA_ADM_ESC    1480 non-null float64
IN_BAIXA_VISAO            4576 non-null int64
IN_CEGUEIRA               4576 non-null int64
IN_SURDEZ                 4576 non-null int64
IN_DISLEXIA               4576 non-null int64
IN_DISCALCULIA            4576 non-null int64
IN_SABATISTA              4576 non-null int64
IN_GESTANTE               4576 non-null int64
IN_IDOSO                  4576 non-null int64
TP_PRESENCA_CN            4576 non-null int64
TP_PRESENCA_CH            4576 non-null int64
TP_PRESENCA_LC            4576 non-null int64
CO_PROVA_CN               4576 non-null object
CO_PROVA_CH               4576 non-null object
CO_PROVA_LC               4576 non-null object
CO_PROVA_MT               4576 non-null object
NU_NOTA_CN                3442 non-null float64
NU_NOTA_CH                3442 non-null float64
NU_NOTA_LC                3377 non-null float64
TP_LINGUA                 4576 non-null int64
TP_STATUS_REDACAO         3377 non-null float64
NU_NOTA_COMP1             3377 non-null float64
NU_NOTA_COMP2             3377 non-null float64
NU_NOTA_COMP3             3377 non-null float64
NU_NOTA_COMP4             3377 non-null float64
NU_NOTA_COMP5             3377 non-null float64
NU_NOTA_REDACAO           3377 non-null float64
Q001                      4576 non-null object
Q002                      4576 non-null object
Q006                      4576 non-null object
Q024                      4576 non-null object
Q025                      4576 non-null object
Q026                      4576 non-null object
Q027                      2088 non-null object
Q047                      4576 non-null object
dtypes: float64(12), int64(20), object(15)
memory usage: 1.6+ MB

In [20]:
model = pd.read_pickle('model.pkl')

In [21]:
df[model['num_features']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 30 columns):
CO_UF_RESIDENCIA     4576 non-null int64
NU_IDADE             4576 non-null int64
TP_COR_RACA          4576 non-null int64
TP_NACIONALIDADE     4576 non-null int64
TP_ST_CONCLUSAO      4576 non-null int64
TP_ANO_CONCLUIU      4576 non-null int64
TP_ESCOLA            4576 non-null int64
IN_TREINEIRO         4576 non-null int64
IN_BAIXA_VISAO       4576 non-null int64
IN_CEGUEIRA          4576 non-null int64
IN_SURDEZ            4576 non-null int64
IN_DISLEXIA          4576 non-null int64
IN_DISCALCULIA       4576 non-null int64
IN_SABATISTA         4576 non-null int64
IN_GESTANTE          4576 non-null int64
IN_IDOSO             4576 non-null int64
TP_PRESENCA_CN       4576 non-null int64
TP_PRESENCA_CH       4576 non-null int64
TP_PRESENCA_LC       4576 non-null int64
NU_NOTA_CN           3442 non-null float64
NU_NOTA_CH           3442 non-null float64
NU_NOTA_LC           3377 non-null float64
TP_LINGUA            4576 non-null int64
TP_STATUS_REDACAO    3377 non-null float64
NU_NOTA_COMP1        3377 non-null float64
NU_NOTA_COMP2        3377 non-null float64
NU_NOTA_COMP3        3377 non-null float64
NU_NOTA_COMP4        3377 non-null float64
NU_NOTA_COMP5        3377 non-null float64
NU_NOTA_REDACAO      3377 non-null float64
dtypes: float64(10), int64(20)
memory usage: 1.0 MB

In [22]:
df[model['num_features']].isna().sum()

CO_UF_RESIDENCIA        0
NU_IDADE                0
TP_COR_RACA             0
TP_NACIONALIDADE        0
TP_ST_CONCLUSAO         0
TP_ANO_CONCLUIU         0
TP_ESCOLA               0
IN_TREINEIRO            0
IN_BAIXA_VISAO          0
IN_CEGUEIRA             0
IN_SURDEZ               0
IN_DISLEXIA             0
IN_DISCALCULIA          0
IN_SABATISTA            0
IN_GESTANTE             0
IN_IDOSO                0
TP_PRESENCA_CN          0
TP_PRESENCA_CH          0
TP_PRESENCA_LC          0
NU_NOTA_CN           1134
NU_NOTA_CH           1134
NU_NOTA_LC           1199
TP_LINGUA               0
TP_STATUS_REDACAO    1199
NU_NOTA_COMP1        1199
NU_NOTA_COMP2        1199
NU_NOTA_COMP3        1199
NU_NOTA_COMP4        1199
NU_NOTA_COMP5        1199
NU_NOTA_REDACAO      1199
dtype: int64

In [23]:
df[model['num_features']] = df[model['num_features']].fillna(-1)

In [24]:
df[model['cat_features']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 13 columns):
SG_UF_RESIDENCIA    4576 non-null object
TP_SEXO             4576 non-null object
CO_PROVA_CN         4576 non-null object
CO_PROVA_CH         4576 non-null object
CO_PROVA_LC         4576 non-null object
CO_PROVA_MT         4576 non-null object
Q001                4576 non-null object
Q002                4576 non-null object
Q006                4576 non-null object
Q024                4576 non-null object
Q025                4576 non-null object
Q026                4576 non-null object
Q047                4576 non-null object
dtypes: object(13)
memory usage: 464.8+ KB

In [25]:
df[model['cat_features']].isna().sum()

SG_UF_RESIDENCIA    0
TP_SEXO             0
CO_PROVA_CN         0
CO_PROVA_CH         0
CO_PROVA_LC         0
CO_PROVA_MT         0
Q001                0
Q002                0
Q006                0
Q024                0
Q025                0
Q026                0
Q047                0
dtype: int64

In [26]:
df_ohe = pd.DataFrame(model['onehot'].transform(df[model['cat_features']]), columns=model['onehot'].get_feature_names(model['cat_features']))

In [27]:
df_full = pd.concat([df[model['num_features']], df_ohe], axis=1,ignore_index=True)

In [28]:
print(df_full)
print(df_full.isna().sum())

0    1    2    3    4    5    6    7    8    9    ...  133  134  135  \
0      41   22    3    1    1    5    1    0    0    0  ...  1.0  0.0  0.0
1      21   26    3    1    1    8    1    0    0    0  ...  0.0  1.0  0.0
2      23   21    1    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
3      15   27    3    1    1    8    1    0    0    0  ...  0.0  1.0  1.0
4      41   18    1    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
5      43   18    3    1    1    1    1    0    0    0  ...  0.0  1.0  1.0
6      35   17    1    1    2    0    3    0    0    0  ...  0.0  1.0  1.0
7      23   17    3    2    2    0    2    0    0    0  ...  1.0  0.0  1.0
8      51   18    3    1    2    0    2    0    0    0  ...  1.0  0.0  0.0
9      15   17    3    2    2    0    2    0    0    0  ...  1.0  0.0  1.0
10     24   20    3    1    1    2    1    0    0    0  ...  1.0  0.0  1.0
11     24   31    1    1    1   10    1    0    0    0  ...  1.0  0.0  0.0
12     26   22    3    2    1    5    1    0    0    0  ...  0.0  1.0  0.0
13     25   18    2    1    1    1    1    0    0    0  ...  0.0  1.0  0.0
14     43   18    1    4    1    2    1    0    0    0  ...  0.0  1.0  1.0
15     33   18    1    1    1    1    1    0    0    0  ...  1.0  0.0  1.0
16     31   34    1    1    1   10    1    0    0    0  ...  0.0  1.0  0.0
17     35   30    1    1    1   10    1    0    0    0  ...  0.0  1.0  0.0
18     35   17    1    1    3    0    1    1    0    0  ...  0.0  1.0  1.0
19     21   21    2    1    1    2    1    0    0    0  ...  1.0  0.0  0.0
20     35   17    1    1    2    0    2    0    0    0  ...  1.0  0.0  1.0
21     23   25    1    1    1    8    1    0    0    0  ...  1.0  0.0  1.0
22     29   37    4    1    1    6    1    0    0    0  ...  1.0  0.0  0.0
23     11   21    3    1    1    4    1    0    0    0  ...  0.0  1.0  0.0
24     26   18    3    1    1    1    1    0    0    0  ...  0.0  1.0  1.0
25     41   20    1    2    1    2    1    0    0    0  ...  0.0  1.0  0.0
26     51   19    1    1    1    3    1    0    0    0  ...  1.0  0.0  1.0
27     13   18    3    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
28     52   18    2    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
29     35   18    3    1    1    1    1    0    0    0  ...  0.0  1.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
4546   35   45    3    1    1   10    1    0    0    0  ...  0.0  1.0  0.0
4547   26   25    3    1    1    7    1    0    0    0  ...  0.0  1.0  0.0
4548   50   16    3    1    3    0    1    1    0    0  ...  0.0  1.0  1.0
4549   16   39    1    1    1   10    1    0    0    0  ...  0.0  1.0  0.0
4550   31   18    1    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
4551   31   16    3    1    3    0    1    1    0    0  ...  0.0  1.0  1.0
4552   25   17    1    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
4553   32   16    3    1    3    0    1    1    0    0  ...  0.0  1.0  1.0
4554   35   17    1    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
4555   29   32    2    1    1    9    1    0    0    0  ...  1.0  0.0  0.0
4556   22   29    3    1    1    9    1    0    0    0  ...  1.0  0.0  1.0
4557   33   18    2    1    1    1    1    0    0    0  ...  1.0  0.0  1.0
4558   23   16    3    1    2    0    2    0    0    0  ...  1.0  0.0  1.0
4559   31   19    1    1    1    1    1    0    0    0  ...  0.0  1.0  0.0
4560   23   16    3    1    3    0    1    1    0    0  ...  1.0  0.0  1.0
4561   35   18    3    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
4562   35   17    3    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
4563   24   47    3    1    2    0    2    0    0    0  ...  0.0  1.0  0.0
4564   24   19    3    1    1    2    1    0    0    0  ...  0.0  1.0  0.0
4565   52   16    3    1    2    0    2    0    0    0  ...  1.0  0.0  1.0
4566   41   17    1    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
4567   25   16    3    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
4568   15   21    3    1    2    0    2    0    0    0  ...  1.0  0.0  0.0
4569   31   17    1    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
4570   26   18    3    1    2    0    2    0    0    0  ...  1.0  0.0  1.0
4571   41   17    1    1    2    0    2    0    0    0  ...  0.0  1.0  1.0
4572   35   17    2    1    2    0    2    0    0    0  ...  1.0  0.0  1.0
4573   35   19    1    1    1    2    1    0    0    0  ...  0.0  1.0  1.0
4574   52   17    2    2    3    0    1    1    0    0  ...  1.0  0.0  1.0
4575   33   30    1    1    1   10    1    0    0    0  ...  0.0  1.0  0.0

      136  137  138  139  140  141  142
0     0.0  1.0  1.0  0.0  0.0  0.0  0.0
1     1.0  0.0  1.0  0.0  0.0  0.0  0.0
2     0.0  0.0  1.0  0.0  0.0  0.0  0.0
3     0.0  0.0  1.0  0.0  0.0  0.0  0.0
4     0.0  0.0  1.0  0.0  0.0  0.0  0.0
5     0.0  0.0  1.0  0.0  0.0  0.0  0.0
6     0.0  0.0  0.0  0.0  0.0  1.0  0.0
7     0.0  0.0  1.0  0.0  0.0  0.0  0.0
8     1.0  0.0  1.0  0.0  0.0  0.0  0.0
9     0.0  0.0  1.0  0.0  0.0  0.0  0.0
10    0.0  0.0  1.0  0.0  0.0  0.0  0.0
11    1.0  0.0  1.0  0.0  0.0  0.0  0.0
12    1.0  0.0  1.0  0.0  0.0  0.0  0.0
13    1.0  0.0  1.0  0.0  0.0  0.0  0.0
14    0.0  0.0  0.0  0.0  0.0  1.0  0.0
15    0.0  0.0  1.0  0.0  0.0  0.0  0.0
16    0.0  1.0  1.0  0.0  0.0  0.0  0.0
17    1.0  0.0  1.0  0.0  0.0  0.0  0.0
18    0.0  0.0  1.0  0.0  0.0  0.0  0.0
19    1.0  0.0  1.0  0.0  0.0  0.0  0.0
20    0.0  0.0  1.0  0.0  0.0  0.0  0.0
21    0.0  0.0  0.0  0.0  1.0  0.0  0.0
22    0.0  1.0  0.0  1.0  0.0  0.0  0.0
23    0.0  1.0  1.0  0.0  0.0  0.0  0.0
24    0.0  0.0  0.0  0.0  0.0  1.0  0.0
25    0.0  1.0  1.0  0.0  0.0  0.0  0.0
26    0.0  0.0  0.0  0.0  0.0  1.0  0.0
27    0.0  0.0  1.0  0.0  0.0  0.0  0.0
28    0.0  0.0  1.0  0.0  0.0  0.0  0.0
29    1.0  0.0  1.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...
4546  0.0  1.0  1.0  0.0  0.0  0.0  0.0
4547  1.0  0.0  1.0  0.0  0.0  0.0  0.0
4548  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4549  1.0  0.0  1.0  0.0  0.0  0.0  0.0
4550  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4551  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4552  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4553  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4554  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4555  1.0  0.0  1.0  0.0  0.0  0.0  0.0
4556  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4557  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4558  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4559  1.0  0.0  1.0  0.0  0.0  0.0  0.0
4560  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4561  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4562  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4563  1.0  0.0  1.0  0.0  0.0  0.0  0.0
4564  1.0  0.0  1.0  0.0  0.0  0.0  0.0
4565  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4566  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4567  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4568  1.0  0.0  1.0  0.0  0.0  0.0  0.0
4569  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4570  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4571  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4572  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4573  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4574  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4575  1.0  0.0  1.0  0.0  0.0  0.0  0.0

[4576 rows x 143 columns]
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
113    0
114    0
115    0
116    0
117    0
118    0
119    0
120    0
121    0
122    0
123    0
124    0
125    0
126    0
127    0
128    0
129    0
130    0
131    0
132    0
133    0
134    0
135    0
136    0
137    0
138    0
139    0
140    0
141    0
142    0
Length: 143, dtype: int64

In [29]:
df_full.shape

(4576, 143)

In [30]:
predict = model['model'].predict( df_full[model['features']])

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [31]:
df_new = df[['NU_INSCRICAO']].copy()
df_new['NU_NOTA_MT'] = predict

In [32]:
df_new.to_csv('answer.csv', index=False)